/* RESET */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* * {
  outline: 1px solid red !important;
} */

/* BODY */
body {
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* IMAGE DE FOND */
.background-image {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .3;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 40px 60px;
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.6rem;
}

.navbar img {
    width: 130px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 40px;
    padding-right: 100px;
  }

  .burger {
    margin-right: 10%;
  }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.close-btn {
  display: none;               /* caché en desktop */
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}


/* --- BURGER (mobile) --- */
.burger {
  width: 2em;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {

  /* Cache les liens au départ */
  .nav-links {
    position: absolute;
    top: 20px;
    right: 0px;
    flex-direction: column;
    background: black;
    width: 20%;
    padding: 1.5em;
    gap: 1.5em;
    transform: translateX(100%); /* invisible */
    transition: transform 0.3s ease;
  }

  /* Quand le menu est ouvert */
  .nav-links.open {
    transform: translateX(0);
  }

  /* On affiche le burger */
  .burger {
    display: block;
  }

  /* On cache le menu desktop */
  .nav-links {
    display: flex;
  }

  .close-btn {
    display: block;  /* visible en mobile */
  }

}



/* MAIN */
main {
  flex: 1;
  width: 100%;
  margin-top: 0em;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  margin-top: 1em;
}

.dualBlocks {
  display: flex;             
  justify-content: center;    /* centre les deux blocs */
  gap: 2em;                   /* espace entre eux */
  margin: 5em;            /* permet aux blocs de se repositionner */
}

#eventBlock, #merchBlock {
  width: 500px;
  border: solid 3px white;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.boxName {
  grid-row: 1;
  grid-column: 1/3;
  align-self: center;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 15px;
}

.boxPic {
  grid-row: 2 / 3;
  grid-column: 1;
  display: flex;           /* active flexbox */
  justify-content: center; /* centre horizontalement */
  align-items: center;   /* centre verticalement */
}

.boxImage {
  width: 80%;
  height: auto;
  object-fit: contain;     /* évite les déformations */
  display: block;
}

.boxInfos {
  grid-row: 2/3;
  grid-column: 2;
  align-self: center;
  font-size: 1.4em;
  text-align: left;
  word-spacing: 1rem;
  line-height: 1.5;
  padding: 0.5em;
  margin-right: 0.5em;
  background-color: rgba(41, 41, 41, 0.1)
}

.boxButton {
  grid-row: 4;
  grid-column: 2;
  margin: 1em;
}

.boxBtn {
  background: whitesmoke;
  color: black;
  padding: 15px 30px;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
  font-family: 'League Spartan', sans-serif;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  box-shadow: 5px 4px 8px rgba(0, 0.3, 0, 0.3);
}

.boxTitle {
  grid-row: 4;
  grid-column: 1;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  align-self: center;
}


/* RESPONSIVE TABLETTE (768px) */
@media screen and (max-width: 768px) {
  .dualBlocks {
    flex-direction: column;   /* empile verticalement */
    align-items: center;      /* centre les blocs */
    gap: 2em;
    margin: 2em;
  }

  #eventBlock, #merchBlock {
    width: 100%;               /* prend 90% de la largeur */
    max-width: 500px;         /* limite la largeur max */
  }
}

/* RESPONSIVE MOBILE (576px) */
@media screen and (max-width: 576px) {
  .dualBlocks {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin: 1em;
    padding: 0 10px;
  }

  #eventBlock, #merchBlock {
    width: 75%;
    max-width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }

  .boxImage {
    width: 90%;
    max-height: 200px;
  }

  .boxTitle {
    font-size: 1.5em;
  }

  .boxInfos {
    font-size: 1em;
    padding-right: 0.5em;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .boxBtn {
    padding: 8px 20px;
    font-size: medium;
  }
}

/* LIENS */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}



/* BANDEAU DEFILANT */
.news-banner {
  background: #ffffff;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
}

.news-banner p {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 40s linear infinite;
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* FOOTER */
footer {
  background: black;
  padding: 30px 40px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0.9;
}
.footer-left {
  flex: 1;
  align-content: center
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.social-icons img {
  width: 30px;
}

.footer-links {
  margin-bottom: 1em;
}

.footer-links a {
  color: white;
  font-size: 1.2em;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-right {
  flex: 1;
  text-align: center;
  align-content: center;
}

#newsletterForm {
  display: inline-flex;
  width: 50%;
  flex-direction: column;
  background: white;
  padding: 10px;
  border-radius: 3px;
}

#newsletterForm label {
  color: black;
  font-size: 1em;
  margin-bottom: 5px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 0.5px;
}


#newsletterForm input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 8px;
}

#newsletterForm button {
  width: 100%;
  align-self: center;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

#newsletterForm button:hover {
  background: #444;
}

#consent {
  margin-bottom: 8px;
}

#msg {
  font-size: 0.8em;
  margin-top: 5px;
}


/* RESPONSIVE TABLETTE (768px) */
@media screen and (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .footer-right {
    order: -2;  /* apparaît en premier (tout en haut) */
    width: 100%;
    margin-bottom: 2em;
  }

  .footer-center {
    order: -1;  /* apparaît en deuxième */
    width: 100%;
    margin-bottom: 2em;
  }

  .footer-left {
    order: 0;   /* apparaît en dernier (en bas) */
    width: 100%;
  }

  #newsletterForm {
    width: 80%;
  }

  #SoundCloud {
    width: 84%;
  } 

  .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  }
}

/* RESPONSIVE MOBILE (576px) */
@media screen and (max-width: 576px) {

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right {
    order: -2;
    width: 100%;
    margin-bottom: 1.5em;
  }

  .footer-center {
    order: -1;
    width: 100%;
    margin-bottom: 1.5em;
  }

  .footer-left {
    order: 0;
    width: 100%;
  }

  #newsletterForm {
    width: 80%;
  }

  #SoundCloud {
    width: 84%;
  } 

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .social-icons img {
    width: 25px;
  }

  footer {
    padding: 20px;
  }
}

